/administrator/backups/*
!/administrator/backups/index.html

/administrator/cache/*
!/administrator/cache/index.html

/cache/*
*/cache/*
!/cache/index.html
!*/cache/index.html

/logs/*
!/logs/index.html

/tmp/*
!/tmp/index.html

/configuration.php
