<div class="slidebox">
<div style="float:left; width:197px; height:188px; margin-right:19px; padding:6px; background: url(modules/mod_jxtc_k2contentwall/images/npimgbkg.jpg) repeat-x; display:table-cell; vertical-align: bottom;">



<div class="imageOver" style="width:197px; height:188px; overflow:hidden;">

<img src="{introimage}" width="197" height="188" style=" z-index:3;" />

<div class="slidepanel" style="float:left; position:relative; z-index:4;  margin-bottom: 8px;  margin-top:-202px; background: url(modules/mod_jxtc_k2contentwall/images/npimgtrans.png) repeat;  padding:12px 12px 12px 14px;">
<a href="{link}"><p style="font-size:12px; color:#ffffff; font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-weight:bold; margin-bottom:0px;">{title}</p></a>
<div style="padding-top: 8px;">
<p style="font-size:11px; color:#cccccc; line-height:130%;">{introtext}</p>
</div>

</div>

</div>
</div>
</div>