<div style="width:698px;  margin-left:-18px; height: 218px; background: url('modules/mod_jxtc_k2contentwall/images/npoutercontbkg.png') center bottom no-repeat; margin-bottom:2px">

<div style="float:left; position:relative; z-index:99;  width:45px; height:217px; margin-top:-8px;"> {leftbutton} </div>

<div style="float:left;  width:664px; height:200px; margin-left:-28px; background: url('modules/mod_jxtc_k2contentwall/images/npinnercontbkg.png') left bottom repeat-x; overflow:none;"> {mainarea} </div>


<div class="rightbutton" style="float:left; position:relative; z-index:5;  width:45px; height:217px; margin-left:-28px; margin-top:-8px;"> {rightbutton} </div>

</div>
