<table width="100%" border="0" cellpadding="2" cellspacing="2">
    <tr>
        <td class="legend">id</td>
        <td class="tag">{id}</td>
    </tr>
    <tr>
        <td class="legend">link</td>
        <td class="tag">{link}</td>
    </tr>
    <tr>
        <td class="legend">title</td>
        <td class="tag">{title}</td>
    </tr>
    <tr>
        <td class="legend">intro</td>
        <td class="tag">{intro}</td>
    </tr>
    <tr>
        <td class="legend">intronoimage</td>
        <td class="tag">{intronoimage}</td>
    </tr>
    <tr>
        <td class="legend">fullnoimage</td>
        <td class="tag">{fullnoimage}</td>
    </tr>
    <tr>
        <td class="legend">rawfulltext</td>
        <td class="tag">{rawfulltext}</td>
    </tr>
    <tr>
        <td class="legend">fulltext</td>
        <td class="tag">{fulltext}</td>
    </tr>
    <tr>
        <td class="legend">introtext</td>
        <td class="tag">{introtext}</td>
    </tr>
    <tr>
        <td class="legend">introimage</td>
        <td class="tag">{introimage}</td>
    </tr>
    <tr>
        <td class="legend">fullimage</td>
        <td class="tag">{fullimage}</td>
    </tr>
    <tr>
        <td class="legend">category</td>
        <td class="tag">{category}</td>
    </tr>
    <tr>
        <td class="legend">categoryimage</td>
        <td class="tag">{categoryimage}</td>
    </tr>
    <tr>
        <td class="legend">categoryimageurl</td>
        <td class="tag">{categoryimageurl}</td>
    </tr>
    <tr>
        <td class="legend">categoryurl</td>
        <td class="tag">{categoryurl}</td>
    </tr>
    <tr>
        <td class="legend">date</td>
        <td class="tag">{date}</td>
    </tr>
    <tr>
        <td class="legend">date Ymd</td>
        <td class="tag">{date Ymd}</td>
    </tr>
    <tr>
        <td class="legend">moddate</td>
        <td class="tag">{moddate}</td>
    </tr>
    <tr>
        <td class="legend">author</td>
        <td class="tag">{author}</td>
    </tr>
    <tr>
        <td class="legend">avatar</td>
        <td class="tag">{avatar}</td>
    </tr>
    <tr>
        <td class="legend">authorprofile</td>
        <td class="tag">{authorprofile}</td>
    </tr>
    <tr>
        <td class="legend">index</td>
        <td class="tag">{index}</td>
    </tr>
    <tr>
        <td class="legend">hits</td>
        <td class="tag">{hits}</td>
    </tr>
    <tr>
        <td class="legend">comments</td>
        <td class="tag">{comments}</td>
    </tr>
    <tr>
        <td class="legend">imageXSmall</td>
        <td class="tag">{imageXSmall}</td>
    </tr>
    <tr>
        <td class="legend">imageXSmallurl</td>
        <td class="tag">{imageXSmallurl}</td>
    </tr>
    <tr>
        <td class="legend">imageSmall</td>
        <td class="tag">{imageSmall}</td>
    </tr>
    <tr>
        <td class="legend">imageSmallurl</td>
        <td class="tag">{imageSmallurl}</td>
    </tr>
    <tr>
        <td class="legend">imageMedium</td>
        <td class="tag">{imageMedium}</td>
    </tr>
    <tr>
        <td class="legend">imageMediumurl</td>
        <td class="tag">{imageMediumurl}</td>
    </tr>
    <tr>
        <td class="legend">imageLarge</td>
        <td class="tag">{imageLarge}</td>
    </tr>
    <tr>
        <td class="legend">imageLargeurl</td>
        <td class="tag">{imageLargeurl}</td>
    </tr>
    <tr>
        <td class="legend">imageXLarge</td>
        <td class="tag">{imageXLarge}</td>
    </tr>
    <tr>
        <td class="legend">imageXLargeurl</td>
        <td class="tag">{imageXLargeurl}</td>
    </tr>
    <tr>
        <td class="legend">imageGeneric</td>
        <td class="tag">{imageGeneric}</td>
    </tr>
    <tr>
        <td class="legend">imageGenericurl</td>
        <td class="tag">{imageGenericurl}</td>
    </tr>
    <tr>
        <td class="legend">imageOriginal</td>
        <td class="tag">{imageOriginal}</td>
    </tr>
    <tr>
        <td class="legend">imageOriginalurl</td>
        <td class="tag">{imageOriginalurl}</td>
    </tr>
    <tr>
        <td class="legend">video</td>
        <td class="tag">{video}</td>
    </tr>
    <tr>
        <td class="legend">imagegallery</td>
        <td class="tag">{imagegallery}</td>
    </tr>
    <tr>
        <td class="legend">attachmenturl</td>
        <td class="tag">{attachmenturl}</td>
    </tr>
    <tr>
        <td class="legend">attachmentdownload</td>
        <td class="tag">{attachmentdownload}</td>
    </tr>
    <tr>
        <td class="legend">attachment</td>
        <td class="tag">{attachment}</td>
    </tr>
    <tr>
        <td class="legend">attachmentname</td>
        <td class="tag">{attachmentname}</td>
    </tr>
    <tr>
        <td class="legend">attachmenthits</td>
        <td class="tag">{attachmenthits}</td>
    </tr>
    <tr>
        <td class="legend">attachmentattrib</td>
        <td class="tag">{attachmentattrib}</td>
    </tr>
    <tr>
        <td class="legend">rate</td>
        <td class="tag">{rate}</td>
    </tr>
    <tr>
        <td class="legend">rating</td>
        <td class="tag">{rating}</td>
    </tr>
    <tr>
        <td class="legend">ratingsum</td>
        <td class="tag">{ratingsum}</td>
    </tr>
    <tr>
        <td class="legend">ratingcount</td>
        <td class="tag">{ratingcount}</td>
    </tr>
    <tr>
        <td class="legend">tagnames</td>
        <td class="tag">{tagnames}</td>
    </tr>
    <tr>
        <td class="legend">taglinks</td>
        <td class="tag">{taglinks}</td>
    </tr>
    <tr>
        <td class="legend">relatedname</td>
        <td class="tag">{relatedname}</td>
    </tr>
    <tr>
        <td class="legend">relatedlink</td>
        <td class="tag">{relatedlink}</td>
    </tr>
    <tr>
        <td class="legend">itemtwitterurl</td>
        <td class="tag">{itemtwitterurl}</td>
    </tr>
    <tr>
        <td class="legend">itemtwitterlink</td>
        <td class="tag">{itemtwitterlink}</td>
    </tr>
    <tr>
        <td class="legend">categorytwitterurl</td>
        <td class="tag">{categorytwitterurl}</td>
    </tr>
    <tr>
        <td class="legend">categorytwitterlink</td>
        <td class="tag">{categorytwitterlink}</td>
    </tr>
</table>