<div style="margin-bottom: 24px;">
This template shows the different place holder tags you can use, to include in your own templates just surround them with {} characters:
<br/>
<br/>
<span style="font-size:120%;"><b>Module template tags:</b></span>
<br/>
<br/>
<table width="100%" border="0" cellpadding="2" cellspacing="2">
	<tr>
		<th class="hdrlegend">Tag Name</th>
		<th class="hdrtag">Tag Content</th>
	</tr>
	<tr>
		<td class="legend">
			mainarea
		</td>
		<td class="tag">
			Displays the selected elements using the corresponding element template tags for each one.
		</td>
	</tr>
	<tr>
		<td class="legend">
			leftbutton
		</td>
		<td class="tag">
			{leftbutton}
		</td>
	</tr>
	<tr>
		<td class="legend">
			rightbutton
		</td>
		<td class="tag">
			{rightbutton}
		</td>
	</tr>
	<tr>
		<td class="legend">
			pages
		</td>
		<td class="tag">
			{pages}
		</td>
	</tr>
</table>
<br/>
<br/>
<span style="font-size:120%;"><b>Element template tags (all tags work on "more" area as well):</b></span>
<br/>
<br/>
<table width="100%" border="0" cellpadding="2" cellspacing="2">
	<tr>
		<th class="hdrlegend">Tag Name</th>
		<th class="hdrtag">Tag Content</th>
	</tr>
</table>
{mainarea}
</div>