<div style="padding-top:9px; padding-bottom:13px; margin-right:10px; ">  
	<div style="float:left;width:70px; margin-top:1px; margin-left:-2px; margin-right:6px;"> 
		<span style="font-weight:bold; color:#000; display:block; width:100%; font-size:11px;">{date}</span>
		<span style="color:#838383; font-size:10px;"><a href="{categoryurl}">{category}</a></span>
		<span class="lang popuphover">
			<img src="modules/mod_jxtc_k2contentwall/images/video.png" />
			<span class="pop">{video}</span>
		</span>
	</div>  
	<div style="float:left; width:73px; height:73px; margin-left:7px; padding:5px;  margin-top:4px; background:#ebebeb;">
		<img src="{imageXSmallurl}" width="73" height="73" />
	</div>
	<div style="margin-left:13px; width:150px; float:left; margin-top:2px; margin-right:12px;">    
		<h4 style="color: #135cae; line-height:118%; margin-bottom:2px; margin-top:0px; color:#366693; font-size:13px;"><a href="{link}">{title}</a></h4>
		<div style="color:#838383; font-size:11px;">  
			<p style="margin-bottom:0px;">{introtext}</p>
		</div> 
	</div>
</div>