<div style="background: url({introimage}) top center no-repeat; width:620px; height:350px">
<div style="width:620px; height:256px;">
<a href="{link}"><img src="modules/mod_jxtc_k2contentwall/images/10x10spacer.gif" width="620" height="246" /></a>
</div>
<div style="width:620px; height:104px; background: url(modules/mod_jxtc_k2contentwall/images/paneldim.png) repeat;">
<div style="float:left; width:250px; border-right: 1px dotted #cccccc; color:#ebebeb; padding-right:30px; padding-left:20px; text-align:right; font-size:28px; letter-spacing:-1px; line-height:28px !important; margin-top:16px; font-weight:500;">{title}</div>
<div style="float:right; width:250px; color:#ebebeb; margin:23px 40px 5px 0px; padding-left:15px; text-align:left; font-size:11px; line-height:11px !important;">{introtext}</div>
</div>
</div>